@model Capstone.Models.Data.Dog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Breed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Breed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalFriendly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalFriendly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatFriendly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatFriendly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseTrained)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseTrained)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeashTrained)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeashTrained)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Neutered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Neutered)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
